@media(max-width: 767px){
    .travel-risk-item .col-md-12{
        text-align: center !important;
    }
}

@keyframes slideImage {
    0% {right: 0;}
    50% {right: 50%;}
    100% {right: 0%}
}


.travel-risk-item .travel-risk-img:hover{
    position:relative;

    animation-name: slideImage;
    animation-duration: 3s;
}
