
.sidebar ul li{
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidebar ul li:hover{
    background-color: rgba(44, 144, 243, 0.466);
    cursor: pointer;
}

.sidebar ul li svg{
    width: 20px !important;
}

@media(max-width: 991px){
    .sidebar ul li{
        padding-left: 0;
        text-align: center;
    }
}

.dashboard-body .sidebar{
    padding: 0;
}